html {
    height: 100vh;
    background-color: black;
}

.container {
    max-width: 90%;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header {
    width: 100%;
    padding: 6vh 4%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.5s;
}

header.rolagem1 {
    background-color: #080424;
    padding: 2vh 4%;
}

header.rolagem1 a {
    color: #5c23d0;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header ul li {
    display: inline-block;
    margin: 0 20px;
}

header ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: block;
}

.banner2,
.banner3 {
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner2 {
    background-image: url('../images/game boy.png');
}

.banner3 {
    background-image: url('../images/Evanjelion.jpg');
}

.banner2 p {
    padding: 10%;
    color: #12841d;
}

/* Responsividade */
@media screen and (max-width: 768px) {
    header ul li {
        margin: 0 10px;
    }

    header.rolagem1 {
        padding: 2vh 2%;
    }

    header ul li a {
        margin-top: 5vh;
    }

    .banner2 p {
        padding: 5%;
    }
}
