
html{
    height: 100vh;
    background-color: black;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

header{
    width: 100%;
    padding: 60px 4%;
    position: fixed;
    top: 0 ;
    left: 0;
    transition: .5;
}
header.rolagem1{
    background-color: 
    #240424;
    padding: 20px 4%;
}
header.rolagem1 a{
    color: #7e6373;

}
header ul{
    list-style: none;

}
header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    min-height: 20vh;
    margin-top: 20vh;
}


.banner2 {
    height: 100vh;
    background-image: url(../images/Evanjelion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    flex-direction: column;
    padding: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner2 p{
    padding: 30vh;
    color:#000;
    
}